PORT=5000
MONGO_URI=mongodb://localhost:27017/harvest_fest_arcade
JWT_SECRET=kjdhfeiwkslfdkHIWUEHFLKJRGHAIIUWERHIAZKJXH8&42y2uh15iqkxqwinceiu4byr9p3qo4iaetdhanfq0qg2985wotuivenhpawoIalhvn4q9218YQ4
JWT_EXPIRES_IN=7d
